application/processable/multicacheschemas/COCT_MT200000UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT200000UV01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2012-07-01T08:51:26
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.12
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8890 2012-11-27 02:38:05Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2015 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				--><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.12. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2012-07-01T08:51:26
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
   <xs:include schemaLocation="COCT_MT120300UV.xsd"/>
   <xs:include schemaLocation="COCT_MT120100UV.xsd"/>
   <xs:include schemaLocation="COCT_MT120500UV.xsd"/>
   <xs:complexType name="COCT_MT200000UV01.Procedure">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="targetSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
      <xs:attribute name="moodCode" type="x_ActMoodOrdPrmsEvn" use="required"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT200000UV01.SubstanceAdministration">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="routeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseCheckQuantity" type="DSET_RTO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maxDoseQuantity" type="DSET_RTO" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="required"/>
      <xs:attribute name="moodCode" type="x_ActMoodOrdPrmsEvn" use="required"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
</xs:schema>