application/processable/multicacheschemas/POIZ_MT061150UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type POIZ_MT061150UV01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2012-07-21T14:49:25
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.12
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8890 2012-11-27 02:38:05Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2015 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				--><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.12. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2012-07-21T14:49:25
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
   <xs:include schemaLocation="COCT_MT560000UV07.xsd"/>
   <xs:include schemaLocation="COCT_MT050000UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT050004UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT550000UV07.xsd"/>
   <xs:complexType name="POIZ_MT061150UV01.Annotation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.AntigenCount">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="INT" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.AntigenValidity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="BL" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.Antigens">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="asHealthChart" type="POIZ_MT061150UV01.HealthChart" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="KIND"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.Consumable2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="vaccineInstance" type="POIZ_MT061150UV01.VaccineInstance" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CSM"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.Definition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="immunizationAsPerProtocol"
                     type="POIZ_MT061150UV01.ImmunizationAsPerProtocol"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="INST"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.HealthChart">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subjectOf1" type="POIZ_MT061150UV01.Subject4" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf2" type="POIZ_MT061150UV01.Subject3" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="HLTHCHRT"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.Immunization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="POIZ_MT061150UV01.Subject10" minOccurs="1" maxOccurs="1"/>
         <xs:element name="consumable" type="POIZ_MT061150UV01.Consumable2" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="definition" type="POIZ_MT061150UV01.Definition" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf1" type="POIZ_MT061150UV01.Subject" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf2" type="POIZ_MT061150UV01.Subject2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
      <xs:attribute name="actionNegationInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.ImmunizationAsPerProtocol">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.Ingredients">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="ingredientAntigens" type="POIZ_MT061150UV01.Antigens" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="INGR"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.InvestigationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVSTG"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.Manufacturer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="investigationEvent" type="POIZ_MT061150UV01.InvestigationEvent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.Subject10">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="patient" type="COCT_MT050000UV02.Patient" minOccurs="1" maxOccurs="1"/>
            <xs:element name="patientClinical" type="COCT_MT050004UV01.PatientClinical" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="investigativeSubject" type="COCT_MT550000UV07.InvestigativeSubject"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subsetCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="annotation" type="POIZ_MT061150UV01.Annotation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.Subject3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="antigenValidity" type="POIZ_MT061150UV01.AntigenValidity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="antigenCount" type="POIZ_MT061150UV01.AntigenCount" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.Vaccine">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="desc" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="formCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ingredients" type="POIZ_MT061150UV01.Ingredients" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="KIND"/>
   </xs:complexType>
   <xs:complexType name="POIZ_MT061150UV01.VaccineInstance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="vaccineInstance" type="POIZ_MT061150UV01.Vaccine" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="kindOfManufacturer" type="POIZ_MT061150UV01.Manufacturer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="INST"/>
   </xs:complexType>
</xs:schema>