application/processable/multicacheschemas/PORX_MT040010UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PORX_MT040010UV01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2011-07-15T11:09:19
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.12
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8890 2012-11-27 02:38:05Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2015 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				--><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.12. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2011-07-15T11:09:19
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
   <xs:include schemaLocation="COCT_MT090103UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT910000UV.xsd"/>
   <xs:include schemaLocation="COCT_MT040200UV09.xsd"/>
   <xs:include schemaLocation="POCP_MT010600UV.xsd"/>
   <xs:include schemaLocation="COCT_MT050203UV07.xsd"/>
   <xs:include schemaLocation="COCT_MT050000UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT590000UV.xsd"/>
   <xs:complexType name="PORX_MT040010UV01.AssignedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedPerson1" type="COCT_MT090103UV01.AssignedPerson" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="patient1" type="PORX_MT040010UV01.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000UV.Student" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV09.ResponsibleParty"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.Author2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity" type="PORX_MT040010UV01.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounterEvent" type="PORX_MT040010UV01.EncounterEvent" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.Consumable2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="manufacturedProduct21" type="POCP_MT010600UV.ManufacturedProduct2"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="content11" type="POCP_MT010600UV.Content1" minOccurs="1" maxOccurs="1"/>
               <xs:element name="content1" type="POCP_MT010600UV.Content" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="administerableMaterial" type="POCP_MT010600UV.AdministerableMaterial"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="manufacturedProduct3" type="POCP_MT010600UV.ManufacturedProduct3"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="part" type="POCP_MT010600UV.Part" minOccurs="1" maxOccurs="1"/>
               <xs:element name="manufacturedProduct" type="POCP_MT010600UV.ManufacturedProduct"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="ingredient" type="POCP_MT010600UV.Ingredient" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CSM"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.DataEnterer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="assignedPerson1" type="COCT_MT090103UV01.AssignedPerson" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="patient1" type="PORX_MT040010UV01.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000UV.Student" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV09.ResponsibleParty"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationDataEntryPerson" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.DispenseEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.EncounterEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ENC"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.InFulfillmentOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="prescription" type="PORX_MT040010UV01.Prescription" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.Informant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="assignedPerson1" type="COCT_MT090103UV01.AssignedPerson" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="patient1" type="PORX_MT040010UV01.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000UV.Student" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV09.ResponsibleParty"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationInformant" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.Patient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.Prescription">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="PORX_MT040010UV01.Author2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCT_MT050203UV07.Patient" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.Reference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="dispenseEvent" type="PORX_MT040010UV01.DispenseEvent" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.ResponsibleParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedPerson" type="COCT_MT090103UV01.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RESP"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.Subject10">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCT_MT050000UV02.Patient" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.Subject9">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="annotation" type="COCT_MT590000UV.Annotation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.SubstanceAdministration">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="targetSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="routeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseCheckQuantity" type="RTO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrationUnitCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="PORX_MT040010UV01.Subject10" minOccurs="1" maxOccurs="1"/>
         <xs:element name="consumable" type="PORX_MT040010UV01.Consumable2" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="recordTarget" type="PORX_MT040010UV01.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="PORX_MT040010UV01.ResponsibleParty"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="author" type="PORX_MT040010UV01.Author" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="PORX_MT040010UV01.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="PORX_MT040010UV01.Informant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="PORX_MT040010UV01.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="inFulfillmentOf" type="PORX_MT040010UV01.InFulfillmentOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reference" type="PORX_MT040010UV01.Reference" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="PORX_MT040010UV01.Subject9" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf" type="PORX_MT040010UV01.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="V:x_ActMoodIntentEvent"/>
      <xs:attribute name="actionNegationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT040010UV01.Verifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedPerson" type="COCT_MT090103UV01.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="VRF"/>
   </xs:complexType>
</xs:schema>