application/processable/multicacheschemas/REPC_MT000100UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type REPC_MT000100UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2013-04-11T10:45:45
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.12
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8890 2012-11-27 02:38:05Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2015 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				--><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.12. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2013-04-11T10:45:45
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
   <xs:include schemaLocation="COCT_MT230100UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT220200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT220300UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT230100UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT040200UV09.xsd"/>
   <xs:include schemaLocation="COCT_MT050000UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT080000UV09.xsd"/>
   <xs:include schemaLocation="COCT_MT910000UV.xsd"/>
   <xs:include schemaLocation="COCT_MT040200UV09.xsd"/>
   <xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
   <xs:complexType name="REPC_MT000100UV.Act">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="REPC_MT000100UV.Subject4" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="REPC_MT000100UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="REPC_MT000100UV.ResponsibleParty" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="REPC_MT000100UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="REPC_MT000100UV.Author3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="REPC_MT000100UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="REPC_MT000100UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="custodian" type="REPC_MT000100UV.Custodian" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="REPC_MT000100UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="REPC_MT000100UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="REPC_MT000100UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="REPC_MT000100UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship" type="REPC_MT000100UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="REPC_MT000100UV.SourceOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.ActDefinition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.ActReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.AdministerableMaterial">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="administrableMaterial" type="REPC_MT000100UV.Material" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAdministerableMaterial" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Author3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000UV.Student" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV09.ResponsibleParty"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="patient" type="COCT_MT050000UV02.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="observation" type="REPC_MT000100UV.Observation" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="substanceAdministration" type="REPC_MT000100UV.SubstanceAdministration"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="supply" type="REPC_MT000100UV.Supply" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="procedure" type="REPC_MT000100UV.Procedure" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="encounter" type="REPC_MT000100UV.Encounter" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="act" type="REPC_MT000100UV.Act" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="organizer" type="REPC_MT000100UV.Organizer" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="actReference" type="REPC_MT000100UV.ActReference" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Conditions">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="REPC_MT000100UV.Criterion" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipConditional" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Consumable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="manufacturedProduct" type="COCT_MT230100UV01.ManufacturedProduct"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="administerableMaterial" type="REPC_MT000100UV.AdministerableMaterial"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Criterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="precondition" type="REPC_MT000100UV.Precondition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Custodian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="responsibleParty" type="COCT_MT040200UV09.ResponsibleParty"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationCustodian" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.DataEnterer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationDataEntryPerson" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Definition2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="actDefinition" type="REPC_MT000100UV.ActDefinition" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipInstantiatesMaster" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Encounter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="admissionReferralSourceCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lengthOfStayQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="dischargeDispositionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preAdmitTestInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specialCourtesiesCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specialArrangementCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="REPC_MT000100UV.Subject4" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="REPC_MT000100UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="REPC_MT000100UV.ResponsibleParty" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="REPC_MT000100UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="REPC_MT000100UV.Author3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="REPC_MT000100UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="REPC_MT000100UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="REPC_MT000100UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="REPC_MT000100UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="REPC_MT000100UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="REPC_MT000100UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship" type="REPC_MT000100UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="REPC_MT000100UV.SourceOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassEncounter" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementEncounterMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.HealthCareFacility">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="REPC_MT000100UV.Place" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="serviceProviderOrganization" type="REPC_MT000100UV.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Informant12">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000UV.Student" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV09.ResponsibleParty"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="patient" type="COCT_MT050000UV02.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationInformant" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="healthCareFacility" type="REPC_MT000100UV.HealthCareFacility"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Material">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="materialPart" type="REPC_MT000100UV.MaterialPart" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="MAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional"
                    fixed="EntityDeterminer"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Material2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="MAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional"
                    fixed="EntityDeterminer"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.MaterialPart">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="partMaterial" type="REPC_MT000100UV.Material2" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPartitive" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Observation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="targetSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="REPC_MT000100UV.Subject4" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="REPC_MT000100UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="REPC_MT000100UV.ResponsibleParty" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="REPC_MT000100UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="REPC_MT000100UV.Author3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="REPC_MT000100UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="REPC_MT000100UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="REPC_MT000100UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="REPC_MT000100UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="REPC_MT000100UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="REPC_MT000100UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="REPC_MT000100UV.ReferenceRange2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship" type="REPC_MT000100UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="REPC_MT000100UV.SourceOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.ObservationRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="precondition" type="REPC_MT000100UV.Precondition" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="DSET_EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="DSET_TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="DSET_AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Organizer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="REPC_MT000100UV.Subject4" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="REPC_MT000100UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="REPC_MT000100UV.ResponsibleParty" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="REPC_MT000100UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="REPC_MT000100UV.Author3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="REPC_MT000100UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="REPC_MT000100UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="REPC_MT000100UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="REPC_MT000100UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="REPC_MT000100UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="REPC_MT000100UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="REPC_MT000100UV.Component3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship" type="REPC_MT000100UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="REPC_MT000100UV.SourceOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassContainer" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Performer3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000UV.Student" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV09.ResponsibleParty"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="patient" type="COCT_MT050000UV02.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Place">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="DSET_EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Precondition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="REPC_MT000100UV.Criterion" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Precondition2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="REPC_MT000100UV.Criterion" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Procedure">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="targetSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="REPC_MT000100UV.Subject4" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="REPC_MT000100UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="REPC_MT000100UV.ResponsibleParty" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="REPC_MT000100UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="REPC_MT000100UV.Author3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="REPC_MT000100UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="REPC_MT000100UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="REPC_MT000100UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="REPC_MT000100UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="REPC_MT000100UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="REPC_MT000100UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship" type="REPC_MT000100UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="REPC_MT000100UV.SourceOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementProcedureMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="COLL_EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="playingMaterial" type="REPC_MT000100UV.Material" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="scopingOrganization" type="REPC_MT000100UV.Organization" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassPassive" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Product2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="content" type="COCT_MT220300UV01.Content" minOccurs="1" maxOccurs="1"/>
               <xs:element name="manufacturedProduct" type="COCT_MT230100UV01.ManufacturedProduct"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="product" type="REPC_MT000100UV.Product" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="patient" type="COCT_MT050000UV02.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationRecordTarget" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.ReferenceRange2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="observationRange" type="REPC_MT000100UV.ObservationRange" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasReferenceValues" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.ResponsibleParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationResponsibleParty" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.SourceOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="observation" type="REPC_MT000100UV.Observation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="REPC_MT000100UV.SubstanceAdministration"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supply" type="REPC_MT000100UV.Supply" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedure" type="REPC_MT000100UV.Procedure" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="encounter" type="REPC_MT000100UV.Encounter" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="act" type="REPC_MT000100UV.Act" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="organizer" type="REPC_MT000100UV.Organizer" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="inversionInd" type="xs:boolean" use="optional"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.SourceOf3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="observation" type="REPC_MT000100UV.Observation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="REPC_MT000100UV.SubstanceAdministration"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supply" type="REPC_MT000100UV.Supply" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedure" type="REPC_MT000100UV.Procedure" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="encounter" type="REPC_MT000100UV.Encounter" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="act" type="REPC_MT000100UV.Act" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="organizer" type="REPC_MT000100UV.Organizer" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="inversionInd" type="xs:boolean" use="optional"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="xs:boolean" use="optional" default="true"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="awarenessCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="patient1" type="COCT_MT050000UV02.Patient" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="specimen1" type="COCT_MT080000UV09.Specimen" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="derivedSpecimen1" type="COCT_MT080000UV09.DerivedSpecimen"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000UV.Student" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV09.ResponsibleParty"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.SubstanceAdministration">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="routeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseCheckQuantity" type="DSET_RTO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maxDoseQuantity" type="RTO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrationUnitCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="REPC_MT000100UV.Subject4" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumable" type="REPC_MT000100UV.Consumable" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="REPC_MT000100UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="REPC_MT000100UV.ResponsibleParty" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="REPC_MT000100UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="REPC_MT000100UV.Author3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="REPC_MT000100UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="REPC_MT000100UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="REPC_MT000100UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="REPC_MT000100UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="REPC_MT000100UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="REPC_MT000100UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship" type="REPC_MT000100UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="REPC_MT000100UV.SourceOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementSubstanceMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Supply">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="REPC_MT000100UV.Subject4" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="product" type="REPC_MT000100UV.Product2" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="REPC_MT000100UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="REPC_MT000100UV.ResponsibleParty" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="REPC_MT000100UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="REPC_MT000100UV.Author3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="REPC_MT000100UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="REPC_MT000100UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="REPC_MT000100UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="REPC_MT000100UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="REPC_MT000100UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="REPC_MT000100UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship" type="REPC_MT000100UV.SourceOf3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="REPC_MT000100UV.SourceOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementSupplyMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000100UV.Verifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
</xs:schema>