application/processable/multicacheschemas/REPC_MT000620UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type REPC_MT000620UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2015-04-21T11:52:24
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.12
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8890 2012-11-27 02:38:05Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2015 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				--><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.12. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2015-04-21T11:52:24
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot-r2.xsd"/>
   <xs:include schemaLocation="POCP_MT010500UV.xsd"/>
   <xs:include schemaLocation="COCT_MT050000UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT090400UV.xsd"/>
   <xs:complexType name="REPC_MT000620UV.AdministrableMaterial">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="administrableMaterialKind" type="REPC_MT000620UV.MaterialKind"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="REPC_MT000620UV.Subject2" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="ADMM"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.Author2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedParty" type="COCT_MT090400UV.AssignedParty" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.EncounterEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ENC"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.MaterialKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="MAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="KIND"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.ObservationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
      <xs:attribute name="isCriterionInd" type="xs:boolean" use="optional" fixed="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.ObservationEvent2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="CD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.ObservationEvent3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="REPC_MT000620UV.Author2" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCT_MT050000UV02.Patient" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="administerableMaterial" type="POCP_MT010500UV.AdministerableMaterial"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="administrableMaterial" type="REPC_MT000620UV.AdministrableMaterial"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEvent" type="REPC_MT000620UV.ObservationEvent" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.Subject3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEvent" type="REPC_MT000620UV.ObservationEvent2" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounterEvent" type="REPC_MT000620UV.EncounterEvent" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.Subject5">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEvent" type="REPC_MT000620UV.ObservationEvent3"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000620UV.SupplyProposal">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="DSET_II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="QSET_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="activityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="DSET_CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="REPC_MT000620UV.Subject" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="REPC_MT000620UV.RecordTarget" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author" type="REPC_MT000620UV.Author" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subjectOf1" type="REPC_MT000620UV.Subject4" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf2" type="REPC_MT000620UV.Subject5" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf3" type="REPC_MT000620UV.Subject3" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SPLY"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="PRP"/>
      <xs:attribute name="actionNegationInd" type="xs:boolean" use="optional"/>
   </xs:complexType>
</xs:schema>